*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
*.nav
*.orig
*.pyc
*.swp
*~
.classpath
.project
.settings
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
